<div class="auction">
	<h1>Auction Management</h1>
	
	<table class="table table-striped">
    <thead>
      <tr>
        <th>Item Id</th>
        <th>Item description</th>
        <th>Reserve Price</th>
        <th>Current Bid</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let auctionItem of auctionItems">
		  <td class="">{{auctionItem.item.itemId}}</td>
		  <td class="">{{auctionItem.item.description}}</td>
		  <td class="">{{auctionItem.reservePrice}}</td>
		  <td class="">{{auctionItem.currentBid}}</td>
		  <td>
		  	<button type="button" class="btn btn-primary" (click)="showBidScreen=true;showCreateScreen=false;auctionItemId=auctionItem.auctionItemId"> Place Bid</button>
		  </td>
		</tr>
	</tbody>
	</table>
	
	<button type="button" class="btn btn-primary" (click)="showCreateScreen=true;showBidScreen=false">Create Auction Item</button>
	<br>
	
	<div class="form-group" *ngIf="showCreateScreen">
	  Reserve Price : <input class="form-control"[(ngModel)]="reservePrice" />
	  Item id : <input class="form-control" [(ngModel)]="itemId" />
	  Item description : <input class="form-control" [(ngModel)]="description" />
	  <br>
	  <button type="button" class="btn btn-primary form-control" (click)="createAuctionItem()">Submit</button>
	</div>
	<br>
	<div class="form-group" *ngIf="showBidScreen">
		Bid Price : <input class="form-control"[(ngModel)]="bidPrice" />
	    Bidder name: <input class="form-control" [(ngModel)]="bidderName" />
	    <br>
	    <button type="button" class="btn btn-primary form-control" (click)="placeBid()">Submit</button>
	</div>
</div>

